/*seleçao por id*/
#titulo{
    color: green;
    text-align: center;
}
/*seleção por tipo de id*/
p#descricao{
    color: blue;
}
p.promocao{
    text-align: center;
    background-color: lightgreen;
}
.nova{
    color: white;
}
p.final-pagina#rodape{
    background-color: lightgrey;
    text-align: center;
}

.curso, .novo-curso, #contato{
    background-color: aliceblue;
    padding: 12px;
    border: 1px solid rgba(0, 0, 255, 0.247);
}
.novo-curso{
    color: red;
}
/*
.curso{
    background-color: aliceblue;
}
.novo-curso{
    background-color: aliceblue;
    color: red;
}*/